html
	head
		title Home
		link(rel="stylesheet" href="style.css")
		script(src="/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="sheriffClient.js")
		script(src="chatClient.js")
	body
		//no UI yet!
		div#gameboard
			div#playerDiv
				div.player#P1
					p.player
					p.money money:
					p.apples apples:
					p.cheese cheese:
					p.bread bread:
					p.chickens chickens:
					p.contraband contraband:
					p.bag bag:
					p.declared declared:
				div.player#P2
					p.player
					p.money money:
					p.apples apples:
					p.cheese cheese:
					p.bread bread:
					p.chickens chickens:
					p.contraband contraband:
					p.bag bag:
					p.declared declared:
			div#decksDiv
				div.card#C1
					p End of Pile
				div.card#C2
					p End of Pile
				div.card#C3
					p End of Pile
				div.card#C4
					p End of Pile
			div#yourDiv
				div#active
					div.cards#bag
						p.title Bag:
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
					div.cards#hand
						p.title Hand:
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
						div
							p value: 10
							p value: 10
							p value: 10
				div#stats
					p.money money:
					p.apples apples:
					p.cheese cheese:
					p.bread bread:
					p.chickens chickens:
					p.contraband contraband:
					p.bag bag:
					p.declared declared:
					
					
					
		div#chat
			textarea#chatbox
			div#input
				textarea#messagebar