html
	head
		title Home
		link(rel="stylesheet" href="style.css")
		script(src="/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="sheriffClient.js")
		script(src="chatClient.js")
	body
		div#gameboard
			div#playerDiv
				div.player#P1
					p.playername
					p.money money:
					p.apples apples:
					p.cheese cheese:
					p.bread bread:
					p.chickens chickens:
					p.contraband contraband:
					p.bag bag:
					p.declared declared:
					p.action action:
				div.player#P2
					p.playername
					p.money money:
					p.apples apples:
					p.cheese cheese:
					p.bread bread:
					p.chickens chickens:
					p.contraband contraband:
					p.bag bag:
					p.declared declared:
					p.action action:
			div#decksDiv
				div.card#C1
					p End of Pile
				div.card#C2
					p End of Pile
				div.card#C3
					p End of Pile
				div.card#C4
					p End of Pile
			div#yourDiv
				div#active
					div.cards#bag
						p.title Bag:
					div.cards#hand
						p.title Hand:
				div#stats
					p.money money:
					p.apples apples:
					p.cheese cheese:
					p.bread bread:
					p.chicken chickens:
					p.contraband contraband:
					p.declared declared:
					p.action action:
					p.selectedFood selectedFood:
					p.selectedPlayer selectedPlayer:
					textarea#amount
					div#goodTypes
						button#apple apple
						button#cheese cheese
						button#bread bread
						button#chicken chicken
					div#buttons
						button#store store
						button#bribe bribe
						button#check check
						button#letGo let go
						button#clear clear
					
					
		div#chat
			textarea#chatbox
			div#input
				textarea#messagebar