html
	head
		title Home
		link(rel="stylesheet" href="style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="sheriffClient.js")
	body
		//no UI yet!
		button Play!