html
	head
		title LOGIN
		h1
			p Assignment 5 Log-in page!
		meta(charset="utf-8")
		link(rel="stylesheet" href="style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="signup.js")
		body
			form
				p Username:
				textarea#username
				p Password
				textarea#password
				div
					button#signup Login