*{
	position: relative;
}
body{
	background-color:#FFF;  
	color:black;
}

h1{
	color:#799;
	text-shadow: 1px 2px #000;
}
button{
	width:5%;
}


#playerDiv{
	margin:auto;
	width:100%;
	height:30%;
	background-color:#bb4;
	color:#008;
}
#playerDiv p{
	margin:0px;
	width:50%;
	float:left;
}
.player{
	width:30%
	height:100%;
	float:left;
}
#decksDiv{
	display:flex;
	width:100%;
	height:30%;
	background-color:#bb4;
	text-align:center;
	align-items:center;
}
#cardsDiv{
	left: -10%;
}
.card{
	left:8%;
	margin:5%;
	width:10%;
	height:70%;
	background-color:#000;
	color:#fff;
	float:right;
	text-align:center;
}
#yourDiv{
	margin:auto;
	width:100%;
	height:40%;
	background-color:#00f;
}
#active{
	height:100%;
	width:50%;
	float:left;
	background-color:#bb4;
}
#active .cards{
	display:flex;
	height:50%;
	width:100%;
	background-color:#bb4;
	text-align:left;
}
#active .cards div{
	margin:5px;
	width:15%;
	float:left;
	background-color:#fff;
}
#active .cards div p{
	margin:0px;
}
.title{
	margin:10px;
	float:left;
	color:#088;
}
#stats{
	height:100%;
	width:50%;
	float:left;
	text-align:left;
	background-color:#bb4;
}
#stats p{
	margin:5px;
	width:40%;
	float:left;
}
#stats textarea{
	height:10%;
	width:100%;
}
#stats button{
	height:15%;
	width:25%;
	float:right;
	background-color:#088;
}
#gameboard{
	width:100%;
	height:80%;
}
#messagebar{
	border: solid 1px black;
	width: 100%;
	height:5%;
	background-color:#787;
}
#chatbox{
	border: solid 1px black;
	width: 100%;
	height: 15%;
	background-color:#998;
}
#chat{
	height 20%;
}